
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav start */
/* Nav end */

/* Perfect start */
/* Perfect end */

/* Room-type start */
/* Room-type end */

/* About-us start */
/* About-us end */

/* Take-a-tour start */
/* Take-a-tour end */

/* Out-blog start */
/* Out-blog end */

/* Newsletter start */
/* Newsletter end */

/* Footer start */
/* Footer end */