:root{
    --color-button: rgb(190, 173, 143);
    --color-text: rgb(167, 167, 167);
    --color-bg: rgb(248, 248, 248);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    cursor: grabbing;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav start */
nav{
    background-color: var(--color-bg);
    background-attachment: local;
    display: grid;
    grid-template-columns: 400px 600px 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
}

.logo{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 10px;
}

.logo img{
    width: 20px;
}

.logo h1{
    text-decoration: none;
    color: black;
}

.nav{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-a{
    text-decoration: none;
    color: black;
}

.nav-button a{
    text-decoration: none;
    color: var(--color-button); 
    border: 2px solid var(--color-button);
    padding: 5px 20px;
}

.nav-button a:hover{
    color: var(--color-text);
    border: 2px solid var(--color-text);
    transition: 0.5s;
}
/* Nav end */

/* Perfect start */

.perfect{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg);
    height: 100vh;
    margin-bottom: 150px;
    padding-top: 150px;
}

.perfect-container{
    display: flex;
    flex-direction: row;
}

.perfect-img img{
    width: 670px;
    padding: 0 50px;
    background-color: var(--color-bg);
}

.perfect-text{
    margin-bottom: 30px;
}

.perfect-text-p-1{
    font-size: 15px;
    color: var(--color-button);
    margin-bottom: 40px;
}

.perfect-text-p-2{
    width: 500px;
    color: var(--color-text);
    font-size: 20px;
}

.perfect-text h1{
    font-size: 45px;
    color: black;
    margin-bottom: 30px;
    width: 350px;
}

.perfect-button{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.perfect-button a{
    text-decoration: none;
}

.perfect-button-1 a{
    color: white;
    border: 2px solid var(--color-button);
    background-color: var(--color-button);
    padding: 7px 35px;
    font-size: 20px;
}

.perfect-button-1 a:hover{
    border: 2px solid var(--color-text);
    background-color: var(--color-text);
    transition: 0.5s;
}

.perfect-button-2 a{
    color: var(--color-button);
    border: 2px solid var(--color-button);
    padding: 7px 35px;
    font-size: 20px;
}

.perfect-button-2 a:hover{
    border: 2px solid var(--color-text);
    color: var(--color-text);
    transition: 0.5s;
}

.perfect-mg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
    margin-top: -80px;
}

.perfect-bg{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0px 38px 29px -5px rgba(214,214,214,1);
}

.perfect-details{
    background-color: white;
    padding: 30px;
}

.perfect-details p{
    color: rgb(167, 167, 167);
    padding: 5px;
}

.perfect-details-h2{
    background-color: var(--color-button) ;
    padding: 40px;
    color: white;
    box-shadow: 0px 38px 29px -5px rgba(214,214,214,1);
}

.perfect-details-h2:hover{
    background-color: var(--color-text);
    transition: 0.5s;
}

summary{
    font-size: 20px;
    font-weight: 500;
}

/* Perfect end */

/* Room-type start */

.room-type{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    background-color: white;
    margin: 1rem;
}

.room-type-text{
    margin-bottom: 30px;
    padding: 1rem 3rem;
}

.room-type-text-p-1{
    font-size: 15px;
    color: var(--color-button);
    margin-bottom: 40px;
}

.room-type-text-p-2{
    width: 500px;
    color: var(--color-text);
    font-size: 20px;
}

.room-type-text h1{
    font-size: 45px;
    color: black;
    margin-bottom: 30px;
    width: 350px;
}

.room-type-container{
    display: flex;
    flex-direction: row;
}

.room-type-img img{
    width: 380px;
    padding-left: 45px;
}

.room-type-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -100px;
    margin-left: 90px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
}

.room-type-menu-p{
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 5px;
}

.room-type-price{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

/* Room-type end */

/* About-us start */

.about-us{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    padding: 150px 45px;
    margin: 1rem;
    height: 100vh;
}

.about-us-container-1{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.about-us-container-1 img{
    width: 250px;
}

.about-us-img-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-img-2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-us-text{
    margin-bottom: 30px;
    padding: 1rem 3rem;
}

.about-us-text-p-1{
    font-size: 15px;
    color: var(--color-button);
    margin-bottom: 40px;
}

.about-us-text-p-2{
    width: 500px;
    color: var(--color-text);
    font-size: 20px;
}

.about-us-text h1{
    font-size: 45px;
    color: black;
    margin-bottom: 30px;
    width: 400px;
}

.about-us-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 300px;
    gap: 1rem 3rem;
    padding-left: 3rem;
    border: 2px solid white;
}

.about-us-grid-1{
    padding-left: 20px;
}

.about-us-grid-1:hover{
    background-color: var(--color-bg);
    border-radius: 10px;
    transition: 0.5s;
}

.about-us-grid p{
    font-size: 22px;
    font-weight: 300;
    padding: 3px;
    color: var(--color-button);
}

.about-us-grid h5{
    font-size: 18px;
    font-weight: 100;
}

/* About-us end */

/* Take-a-tour start */

.take-a-tour{
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 150px 1rem;
}

.take-a-tour-text{
    margin-bottom: 30px;
    padding: 1rem 3rem;
}

.take-a-tour-text-p-1{
    font-size: 15px;
    color: var(--color-button);
    margin-bottom: 40px;
}

.take-a-tour-text-p-2{
    width: 500px;
    color: var(--color-text);
    font-size: 20px;
}

.take-a-tour h1{
    font-size: 45px;
    color: black;
    margin-bottom: 30px;
    width: 400px;
}

.take-a-tour-button-1 a{
    color: white;
    border: 2px solid var(--color-button);
    background-color: var(--color-button);
    padding: 7px 35px;
    font-size: 20px;
    text-decoration: none;
}

.take-a-tour-button-1 a:hover{
    border: 2px solid var(--color-text);
    background-color: var(--color-text);
    transition: 0.5s;
}

.take-a-tour-button-1 {
    margin-top: 40px;
}

.take-a-tour-logo img{
    width: 600px;
}

.play{
    position: absolute;
    margin-left: -300px;
    margin-top: 220px;
    border: 2px solid white;
    border-radius: 30px;
}

/* Take-a-tour end */

/* Out-blog start */

.out-blog{
    display: flex;
    flex-direction: column;
    padding: 150px 45px;
    background-color: white;
}

.out-blog-text{
    text-align: center;
    margin-bottom: 30px;
    padding: 1rem 3rem;
}

.out-blog-text-p-1{
    font-size: 15px;
    color: var(--color-button);
    margin-bottom: 40px;
}

.out-blog-text-p-2{
    color: var(--color-text);
    font-size: 20px;
}

.out-blog h1{
    font-size: 45px;
    color: black;
    margin-bottom: 30px;
}

.out-blog-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

/* .out-blog-card, .out-blog-card-2{
    padding: 5px;
} */

.out-blog-card img, .out-blog-card-2 img{
    width: 330px;
    padding-bottom: 10px;
}

.out-blog-card h3, .out-blog-card-2 h3{
    font-size: 22px;
    font-weight: 400;
}

.out-blog-card p, .out-blog-card-2 p{
    color: var(--color-text);
}

.out-blog-card{
    background-color: var(--color-bg);
}

.out-blog-card-2{
    border: 0;
}

.out-blog-box{
    box-shadow: 0px 38px 29px -5px rgba(214,214,214,1);
    padding: 10px 20px;
}

/* Out-blog end */

/* Newsletter start */

.newsletter{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 150px;
}

.newsletter-text{
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    padding: 40px 40px 40px 80px;
    /* ! */
}

.newsletter-text-p-1{
    font-size: 15px;
    color: rgb(190, 173, 143);
    margin-bottom: 40px;
}

.newsletter-text-p-2{
    width: 600px;
    color: var(--color-text);
    font-size: 20px;
}

.newsletter-text h1{
    font-size: 45px;
    color: black;
    margin-bottom: 30px;
    width: 550px;
}

.newsletter-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    padding: 0 40px;
}

.newsletter-button a{
    color: rgb(190, 173, 143);
    border: 2px solid var(--color-button);
    padding: 7px 35px;
    font-size: 20px;
    border-radius: 25px;
    text-decoration: none;
}

.newsletter-button a:hover{
    color: var(--color-text);
    border: 2px solid var(--color-text);
    transition: 0.5s;
}

/* Newsletter end */

/* Footer start */

.footer-container{
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
}

.footer-info{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.footer-logo{
    padding-bottom: 30px;
}

.footer-p{
    color: var(--color-text);
    width: 300px;
    padding-bottom: 50px;
    font-size: 18px;
}

.footer-button{
    display: flex;
    flex-direction: row;
}

.footer-button a{
    color: white;
    border: 2px solid var(--color-button);
    background-color: var(--color-button);
    padding: 15px 35px;
    font-size: 20px;
    text-decoration: none;
}

.footer-a-1 a{
    border: 0;
}

.footer-a-2 a{
    color: var(--color-button);
    background-color: white;
    padding: 5px 15px;
    border: 10px solid var(--color-button);
}

.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-social{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 30px;
}

.footer-social img{
    background-color: var(--color-button);
    padding: 2px;
}

.footer-social img:hover{
    filter: grayscale(100%);
    transition: 0.5s;
}

.footer-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-card h4{
    font-size: 25px;
    font-weight: 600;
}

.footer-card a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 18px;
}

.footer-card a:hover{
    color: var(--color-button);
    transition: 0.5;
}

.footer-besnik{
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-besnik-p p{
    color: var(--color-text);
    font-size: 18px;
}

.footer-besnik-a{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer-besnik-a a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 18px;
}


/* Footer end */